<md-card class="footer">
    <div class="wrapper">
        <md-card class="group-section">
            <h2>INFOMATION</h2>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <a href="#">About Us</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Customer services</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Orders and Returns</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Contact Us</a>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card class="group-section">
            <h2>Why Buy From Us</h2>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <a href="#">About Us</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Customer services</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Privacy Policy</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Site Map</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Serch Term</a>
                    </md-list-item>
                </md-list>
             </md-card-content>
        </md-card>
        <md-card class="group-section">
            <h2>My Account</h2>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <a href="#">Sign In</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">View Cart</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">My Wishlist</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Track My Order</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">Help</a>
                    </md-list-item>
                </md-list>
             </md-card-content>
        </md-card>
        <md-card class="group-section">
            <h2>Contatct</h2>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <a href="#">+91-123-456789</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="#">+00-123-000000</a>
                    </md-list-item>
                </md-list>
                <h2>Follow Us</h2>
                <md-list class="social-group">
                    <md-list-item  class="facebook-icon">
                        <a href="#">
                        </a>
                    </md-list-item>
                    <md-list-item class="twitter-icon">
                        <a href="#" >
                        </a>
                    </md-list-item>
                    <md-list-item class="contact-icon">
                        <a href="#" >
                        </a>
                    </md-list-item>
                    <md-list-item class="google-plus-icon">
                        <a href="#" >
                        </a>
                    </md-list-item>
                </md-list>
             </md-card-content>
        </md-card>
    </div>
    <div class="coppy-right">
        <p>Compant Name © All rights Reseverd</p>
    </div>
</md-card>