$background-value : #602D8D
$font-type : 'Monda', sans-serif

.md-card
  width: 205px
  height: 153px
  padding: 15px 40px 20px 10px

a
  text-decoration: none

.top-product
  float: left
  width: 60%
  margin: 10px 0px 0px 5px

  .left-above
    @extend .md-card

  .left-below
    @extend .md-card
    margin-top: 5px

  .right-above
    @extend .md-card
    float: left
    margin-top: -189px
    margin-left: 260px

  .right-below
    @extend .md-card
    float: left
    margin-left: 260px
    margin-top: -189px

  .product-image
    padding-bottom: 20px
    max-width: 100%

  h2
    margin-top: -170px
    margin-left: 100px
    color: #CC3636
    font-size: 1.2em
    font-family: $font-type
    font-weight: normal

  p
    margin-left: 100px

  .add-button
    margin-left: 90px
    background: $background-value
    color: white
    border-radius: 8px !important

.thumbnail-image
  float: left
  width: 40%
  margin-left: 60%
  margin-top: -383px

.flex-control-pagging
  margin-top: 360px
  margin-left: 815px

  a
    text-decoration: none
    text-indent: -9999px
    display: inline-block
    background: $background-value
    height: 8px
    width: 8px
    border-radius: 20px

.new-product
  margin-top: 470px
  margin-left: 5px
  height: 40px
  padding-top: 0px

.feature-product
  margin-top: 10px
  margin-left: 5px
  height: 40px
  padding-top: 0px

.product-h3-header
  float: left
  font-family: $font-type
  font-size: 20px
  color: $background-value
  text-transform: uppercase
  padding-top: 18px

.product-filter
  float: left
  margin-left: 58px
  margin-top: 10px
  padding-top: 6px

.product-paginator
  margin-left: 390px
  margin-top: -10px
  width: 400px

.product
  margin: 5px 0px 0px 5px
  float: left
  width: 19%

  h2
    color: #CC3636
    font-family: $font-type
    font-size: 1em
    font-weight: normal

  p
    font-size: 0.85em
    padding: 0.4em 0
    color: #333

.strike
  font-size: 18px
  font-family: $font-type
  color: #444
  text-decoration: line-through

.price
  font-size: 18px
  font-family: $font-type
  color: #CC3636
  margin-left: 18px

.product
  .add-cart-button
    background: $background-value
    margin-left: 28px
    color: white

  .detail-button
    background: $background-value
    margin-left: 39px
    color: white
    margin-top: 5px

.discount-img
  position: absolute
  top: 30px
  height: 42px

.percentage
  color: white
  font-weight: bold
  position: absolute
  top: 43px
  left: 33px

.clear
  margin-top: 1420px

/deep/
  .mat-raised-button
    padding: 0px 0px !important
    min-width: 46px !important

  .mat-menu-item
    line-height: 40px !important
    height: 40px !important

  .mat-button
    min-width: 122px !important
    line-height: 46px !important

  button.mat-menu-item
    width: 200px !important
  
  .ngx-pagination
    margin-left: 380px !important
    margin-top: 10px 
    padding-top: 18px 