<!--Header-->
<header-fragment></header-fragment>
<!--End Header-->

<md-card style="position: absolute;right: 255px;width: 887px;left: 150px;margin-top: -5px;padding-top: 10px;">
    <!--Top Products Section-->
    <div class="top-product">
        <md-card class="left-above">
            <md-card-content>
                <a routerLink="/product-detail">
                    <img src="assets/images/pic4.png" alt="" class="product-image">
                </a>
                <h2>IPHONE</h2>
                <p>
                    Lorem ipsum dolor sit amet sed do eiusmod.
                </p>
                <button md-button class="add-button">
                    Add to cart
                </button>
            </md-card-content>
        </md-card>

        <md-card class="right-above">
            <md-card-content>
                <a href="#">
                    <img src="assets/images/pic3.png" alt="" class="product-image" style="width: 100px;
                                height: 150px;">
                </a>
                
                <h2 style="margin-left: 120px;margin-top: -180px;">SAMSUN</h2>
                <p style="margin-left: 120px;">
                    Lorem ipsum dolor sit amet sed do eiusmod.
                </p>
                <button md-button class="add-button" style="margin-left: 100px;">
                    Add to cart
                </button>
            </md-card-content>
        </md-card>

        <md-card class="left-below">
            <md-card-content>
                <a>
                    <img src="assets/images/pic3.jpg" alt="" class="product-image" style="width: 105px;">
                </a>
                <h2 style="margin-left: 110px;margin-top: -130px;">ACER</h2>
                <p style="margin-left: 110px;">
                    Lorem ipsum dolor sit amet sed do eiusmod.
                </p>
                <button md-button class="add-button" style="margin-left: 110px;">
                    Add to cart
                </button>
            </md-card-content>
        </md-card>

        <md-card class="right-below">
            <md-card-content>
                <a>
                    <img src="assets/images/pic1.png" alt="" class="product-image" style="width: 105px;">
                </a>
                <h2 style="margin-left: 120px;margin-top: -130px;">CANON</h2>
                <p style="margin-left: 120px;">
                    Lorem ipsum dolor sit amet sed do eiusmod.
                </p>
                <button md-button class="add-button" style="margin-left: 110px;">
                    Add to cart
                </button>
            </md-card-content>
        </md-card>
    </div>
    <!--End Top Products Section-->
    
    <!--Thumbnail Image Section-->
    <div class="thumbnail-image">
        <md-card>
            <md-card-content >
               <img src="assets/images/4.jpg" alt="" style="width:100%; height:270px;">
            </md-card-content>
        </md-card>
    </div>

    <div class="flex-control-pagging">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
    </div>
    <!--End Thumbnail Image Section-->

    <!--Header Feature Products-->
    <md-card class="feature-product">
        <md-card-content>
            <h3 class="product-h3-header">Feature products</h3>
            <md-select placeholder="Sort by" class="product-filter">
                <md-option *ngFor="let sort of sortBy" [value]="sort.value">
                    {{ sort.viewValue }}
                </md-option>
            </md-select>
            <pagination-controls id="featureProduct" (pageChange)="currentPageFeatureProduct = $event" style="margin-top: -40px;padding-top: 10px;"></pagination-controls>
        </md-card-content>
    </md-card>
    <!--End Header Feature Products-->

    <!--Show Feature Products-->
    <div>
        <md-card class="product" *ngFor="let product of feature_products | paginate : { id : 'featureProduct' ,itemsPerPage : 4, currentPage : currentPageFeatureProduct }">
            <md-card-content>
                <a href="#">
                    <img [src]="product.img" alt="" style="width:190px;margin-left:-15px;"> 
                </a>
                <h2>
                    {{ product.title }}
                </h2>
                <p>
                    {{ product.content }}
                </p>
                <span class="strike">${{ product.originalPrice }}</span>
                <span class="price">${{ product.price }}</span>
            </md-card-content>
            
            <md-card-actions>
                <button md-button class="add-cart-button">
                    <img src="assets/images/cart.jpg" alt="" style="width:55px;margin-left:-16px;">
                    Add to cart
                </button>
                <button md-button class="detail-button">
                    Detail
                </button>
            </md-card-actions>
        </md-card>
    </div>
    <!--End Show Feature Products-->

    <!--Header New Products-->
    <md-card class="new-product">
        <md-card-content>
            <h3 class="product-h3-header">New products</h3>
            <md-select placeholder="Sort by" class="product-filter">
                <md-option *ngFor="let sort of sortBy" [value]="sort.value">
                    {{ sort.viewValue }}
                </md-option>
            </md-select>
            <pagination-controls id="newProduct" (pageChange)="currentPageNewProduct = $event" style="margin-top: -40px;padding-top: 10px;"></pagination-controls>
        </md-card-content>
    </md-card>
    <!--End Header New Products-->

    <!--Show New Products-->
    <div>
        <md-card class="product" *ngFor="let product of new_products | paginate : { id : 'newProduct' ,itemsPerPage : 4, currentPage : currentPageNewProduct }">
            <md-card-content>
                <span>
                    <img src="assets/images/discount-img.png" alt="" class="discount-img">
                    <span class="percentage">{{ product.discount }}%</span>
                </span>
                <a href="#">
                    <img [src]="product.img" alt="" style="width:190px;margin-left:-15px;"> 
                </a>
                <h2>
                    {{ product.title }}
                </h2>
                <span class="strike">${{ product.originalPrice }}</span>
                <span class="price">${{ product.price }}</span>
            </md-card-content>
            <md-card-actions>
                <button md-button class="add-cart-button">
                    <img src="assets/images/cart.jpg" alt="" style="width:55px;margin-left:-16px;">
                    Add to cart
                </button>
                <button md-button class="detail-button">
                    Detail
                </button>
            </md-card-actions>
        </md-card>
    </div>
    <!--End Show New Products-->

</md-card>

<div class="clear">
    
</div>

<!--Footer-->
<footer-fragment></footer-fragment>
<!--End Footer-->
