<div class="input">
    <md-input-container>
        <label></label>
        <input mdInput required>
        <md-placeholder>
            <md-icon>email</md-icon>
            Email
        </md-placeholder>
        <md-hint class="hint">
            <i>darren266@gmail.com</i>
        </md-hint>
    </md-input-container>
    <md-input-container>
        <label></label>
        <input mdInput placeholder="Username">
        <md-hint class="hint">darren266</md-hint>
    </md-input-container>
    <md-input-container>
        <label></label>
        <input mdInput>
        <md-placeholder>
            <md-icon>phone</md-icon>
            Phone number
        </md-placeholder>
        <md-hint class="hint"><i>(+84) 168 999 7644</i></md-hint>
    </md-input-container>
    <md-input-container>
        <label></label>
        <input mdInput placeholder="Password" required>
        <md-hint class="hint">
            <i>Password have to at least 6-15 characters</i>
        </md-hint>
    </md-input-container>
    <md-input-container>
        <label></label>
        <input mdInput placeholder="Confirm password" required>
    </md-input-container>
</div>
<div class="submit-button">
    <button md-raised-button color="primary">
        Submit
    </button>
</div>